# Projects & Environments
nepse/
pattern-project/venv/
nepal_env/

# Data & Results (Generated)
pattern-project/data/
pattern-project/results/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db

# Miscellaneous
queries.txt
floorsheet_config.json
